<header class="header">
    <div class="container">
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li><a href="/" class="header-nav__link <%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
                <li><a href="/users" class="header-nav__link <%= currentPage === 'users' ? 'active' : '' %>">Users</a>
                </li>
                <li><a href="/about" class="header-nav__link">About</a></li>
            </ul>
        </nav>
    </div>
</header>