<%- include('./partials/head') %>

<div class="container">
    <h1>404 Not Found</h1>
    <div class="flex-center">
        <a href="/" class="btn">Go to Home</a>
    </div>
</div>

<%- include('./partials/foot') %>

